<div>
  <%= render 'shared/meal_pop_up' %>
</div>

<!-- DESCRIPTION SECTION -->
<div class='cook-detail-container'>

</div>
<!-- DESCRIPTION SECTION -->

<div class='global-container container'>
  <div class='row'>

    <!-- MEAL CARDS CONTAINER -->
    <div class='col-lg-8 col-md-7 meal-cards-container'>

      <% @categories.each do |category| %>

        <h2 class='col-lg-12 category-title'><%= category.name %></h2>

        <% category.meals.each do |meal| %>

          <div class='col-lg-6 meal-card-container'>
            <div data-id='<%= meal.id %>'  class='meal-card white-card-border flex-row-sb-center'>
              <%= render partial: 'shared/meal_card_content', locals: {meal: meal} %>
            </div>
          </div>

        <% end %>
      <% end %>

    </div>
    <!-- MEAL CARDS CONTAINER -->

    <!-- BASKET CONTAINER -->
    <div class='col-lg-4 col-md-5'>
      <!-- Début du panier -->
      <div data-id='<%= @basket.id %>' class='white-card-shadow basket-card flex-column-sb-center'>
        <%= link_to '#', class: 'w-100' do %>
          <div class='red-btn w-100'>Valider mon panier</div>
        <% end %>

        <div class='basket-date-area flex-row-sb-center w-100'>
          <div>
            <p class='mb-2'>Jeudi 3 Mars </p>
            <p>De 18h jusqu’à 19h30</p>
          </div>
          <div class='small-btn'>Modifier</div>
        </div>

        <div id='basket-suborder-list' class='w-100 h-100'>
          <% @suborders.each do |suborder| %>
            <div data-id='<%= suborder.id %>' id='suborder-<%= suborder.id %>' class='basket-suborder-area flex-row-sb-center w-100'>
              <div class='flex-row-center-center'>
                <div class='minus-btn pointer very-light-grey-14'><i class="fas fa-minus-circle"></i></div>
                <p class='grey-16 basket-suborder-number flex-row-center-center'><%= suborder.quantity %></p>
                <div class='plus-btn pointer very-light-grey-14'><i class="fas fa-plus-circle"></i></div>
                <div class='ml-3'>
                  <p class='grey-medium-16'><%= suborder.meal.name %></p>
                  <!-- <p>4 personnes</p> -->
                </div>
              </div>
              <p class='basket-suborder-price grey-medium-16'><%= suborder.formatted_total_price %> €</p>
            </div>
          <% end %>
        </div>

        <div class='basket-total-area flex-row-sb-center w-100'>
          <p class='grey-medium-16'>Total</p>
          <p id='basket-price' class='grey-medium-16'><%= @basket.formatted_total_price %> €</p>
        </div>
      </div>
      <!-- Fin du panier -->
    </div>
    <!-- BASKET CONTAINER -->

  </div>
</div>

<%= javascript_pack_tag 'cookShow/index'%>
