<div class='orange-banner'>
  <div class='dashboard-container banner-title'>
    <h2>Mon compte</h2>
  </div>
</div>

<div class='dashboard-container page-lifted'>

  <!-- DÉTAILS PART -->

  <div class='dashboard-card mt-0'>
    <div class='dashboard-card-header flex-row-start-center'>
      <h3 class='dashboard-card-title'>Détails</h3>
    </div>
    <div class='dashboard-card-body'>

      <%= simple_form_for @user, url: user_update_details_path(@user) do |f| %>
        <%= f.error_notification %>
        <div class='row'>
          <div class='col-6'>
            <%= f.input :first_name, label: false, placeholder: 'Prénom',
                input_html: { class: 'details-form-item static-form-item flex-row-start-center' } %>
          </div>
          <div class='col-6'>
            <%= f.input :last_name, label: false, placeholder: 'Nom',
                input_html: { class: 'details-form-item static-form-item flex-row-start-center' } %>
          </div>
        </div>
        <%= f.input :email, label: false, placeholder: 'Email',
            input_html: { autocomplete: 'email', class: 'details-form-item static-form-item flex-row-start-center' } %>
        <%= f.input :phone_number, label: false, placeholder: 'Téléphone',
            input_html: { class: 'details-form-item static-form-item flex-row-start-center' } %>
        <%= f.button :submit, id: 'update-details-btn', class: 'red-btn-xl inactive-btn', value: 'Enregistrer les modifications', data: { disable_with: false } %>
      <% end %>

    </div>
  </div>

  <!-- ADRESSE PART -->

  <div class='dashboard-card'>
    <div class='dashboard-card-header flex-row-start-center'>
      <h3 class='dashboard-card-title'>Adresse</h3>
    </div>
    <div class='dashboard-card-body'>

      <%= simple_form_for @user, url: user_update_details_path(@user) do |f| %>
        <%= f.error_notification %>
        <%= f.input :address, label: false, placeholder: 'Adresse',
            input_html: { class: 'address-form-item static-form-item flex-row-start-center' } %>
        <div class='row'>
          <div class='col-6'>
            <%= f.input :city, label: false, placeholder: 'Ville',
                input_html: { class: 'address-form-item static-form-item flex-row-start-center' } %>
          </div>
          <div class='col-6'>
            <%= f.input :zip, label: false, placeholder: 'Code Postal',
                input_html: { class: 'address-form-item static-form-item flex-row-start-center' } %>
          </div>
        </div>
        <%= f.button :submit, id: 'update-address-btn', class: 'red-btn-xl inactive-btn', value: 'Enregistrer les modifications', data: { disable_with: false } %>
      <% end %>

    </div>
  </div>

  <!-- PASSWORD PART -->

  <div class='dashboard-card'>
    <div class='dashboard-card-header flex-row-start-center'>
      <h3 class='dashboard-card-title'>Mot de passe</h3>
    </div>
    <div class='dashboard-card-body'>

      <p class='mb-3' >
        Pour modifier votre mot de passe, veuillez cliquer ci-dessous.
        Les instructions pour modifier votre mot de passe vous seront
        envoyées à votre addresse mail: <%= @user.email %>.
      </p>

      <%= simple_form_for @user, url: '#' do |f| %>
        <%= f.error_notification %>
        <%= f.button :submit, class: 'red-btn-xl', value: 'Modifier mon mot de passe', data: { disable_with: false } %>
      <% end %>

    </div>
  </div>

  <!-- DELETE ACCOUNT PART -->

  <div class='dashboard-card'>
    <div class='dashboard-card-header flex-row-start-center'>
      <h3 class='dashboard-card-title'>Supprimer définitivement mon compte</h3>
    </div>
    <div class='dashboard-card-body'>

      <p class='mb-3' >
        Pour supprimer définitivement votre compte, vous devez saisir votre mot de passe.
        Une fois la suppression effectuée, il ne sera plus possible de réactiver votre compte.
      </p>
      <p class='mb-3' >
        Si vous avez oublié votre mot de passe,
        vous pouvez créer un nouveau mot de passe.
      </p>

      <%= simple_form_for @user, url: '#' do |f| %>
        <%= f.error_notification %>
        <%= f.input :password, label: false, placeholder: 'Mot de passe',
            input_html: { class: 'static-form-item flex-row-start-center' } %>
        <%= f.button :submit, class: 'red-btn-xl', value: 'Continuer', data: { disable_with: false } %>
      <% end %>

    </div>
  </div>



</div>


  <%= javascript_pack_tag 'userShow'%>
