<div class='dashboard-container'>
  <h2>Mon compte</h2>

  <div class='dashboard-card my-2'>
    <div class='dashboard-card-header flex-row-start-center'>
      <h3 class='dashboard-card-title'>Détails</h3>
    </div>
    <div class='dashboard-card-body'>

      <%= simple_form_for @user, url: '#' do |f| %>
        <%= f.error_notification %>
        <div class='flex-row-sb-center'>
          <%= f.input :first_name, label: false, placeholder: 'Prénom' %>
          <%= f.input :last_name, label: false, placeholder: 'Nom' %>
        </div>
        <%= f.input :email, label: false, placeholder: 'Email', input_html: { autocomplete: 'email' } %>
        <%= f.input :phone_number, label: false, placeholder: 'Téléphone' %>
        <%= f.button :submit, class: "small-btn", value: 'Modifier' %>
      <% end %>

    </div>

  </div>

  <div class='dashboard-card my-2'>
    <div class='dashboard-card-header flex-row-start-center'>
      <h3 class='dashboard-card-title'>Détails</h3>
    </div>
    <div class='dashboard-card-body'>
      <div class='flex-row-sb-center'>
        <div class='static-form-short-item flex-row-start-center'>Jacques</div>
        <div class='static-form-short-item flex-row-start-center'>Durand</div>
      </div>
      <div class='static-form-item flex-row-start-center'>jacques.durand@gmail.com</div>
      <div class='static-form-item flex-row-start-center'>07.12.34.56.78</div>
      <div class='small-orange-btn'>Modifier</div>

    </div>

  </div>

  <div class='dashboard-card my-2'>
    <div class='dashboard-card-header flex-row-start-center'>
      <h3 class='dashboard-card-title'>Adresse</h3>
    </div>
    <div class='dashboard-card-body'>
      <div class='flex-row-sb-center'>
        <div class='static-form-short-item flex-row-start-center'>Strasbourg</div>
        <div class='static-form-short-item flex-row-start-center'>67000</div>
      </div>
      <div class='static-form-item flex-row-start-center'>2 rue du tertre</div>
      <div class='small-orange-btn'>Modifier</div>

    </div>

  </div>

</div>
