<%= simple_form_for meal, url: url, method: method do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, label: 'Nom de la recette', placeholder: 'ex : Hamburger',
      input_html: { class: 'details-form-item static-form-item flex-row-start-center' } %>
  <%= f.input :photo, as: :file %>
  <% if meal.photo.attached? %>
    <%= cl_image_tag meal.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <!-- DÉBUT DE LA PARTIE INGRÉDIENTS -->

  <label>Ingrédients</label>
  <div class='ingredients-area'>
    <%= f.simple_fields_for :ingredients do |h| %>
      <div class='wrapper-ingredients'>
        <% meal.ingredients.each do |ingredient| %>
          <%= h.simple_fields_for ingredient.rank.to_s.to_sym do |k|  %>
            <div class='wrapper-item-ingredient row'>
              <div class='col-2 p-0 grey-16  flex-row-center-center'>
                <%= k.input :rank, collection: ingredient_ranks, label: false, selected: ingredient_ranks[ingredient.rank-1], include_blank: false,
                    input_html: { class: 'p-0 details-form-item ingredient-qtt grey-14 flex-row-end-center', value: ingredient.rank } %>
              </div>
              <div class='p-0 col-8'>
                <%= k.input :name, label: false, placeholder: 'ex : Tomate',
                    input_html: { class: 'details-form-item static-form-item flex-row-start-center', value: ingredient.name } %>
              </div>
              <div class='pb-3 px-0 col-2 grey-16 pointer flex-row-center-center'>
                <div class='delete-ingredient-item'><i class="fas fa-times"></i></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <p class='add-ingredient-item orange-14 pointer underline mb-3'>Ajouter un ingrédient</p>
  </div>

  <!-- FIN DE LA PARTIE INGRÉDIENTS -->

  <%= f.input :description, as: :text, label: 'Description', placeholder: 'ex : ...',
      input_html: { rows: 5, class: 'details-form-item static-form-item flex-row-start-center' } %>
  <%= f.input :information, as: :text, label: 'Informations supplémentaires', placeholder: 'ex : ...',
      input_html: { rows: 5, class: 'details-form-item static-form-item flex-row-start-center' } %>
  <%= f.input :price, label: 'Prix par portion en €', placeholder: 'ex: 10,00€',
      input_html: { class: 'details-form-item static-form-item flex-row-start-center' } %>
  <% unless url == meals_path && method == 'POST' %>
    <%= f.input :rank, collection: meal_ranks,
                       label: 'Rang',
                       selected: meal.rank.nil? ? meal_ranks.last : meal_ranks[meal.rank-1],
                       include_blank: false,
                       input_html: { class: 'details-form-item static-form-item flex-row-start-center',
                       value: meal.rank } %>
  <% end %>
  <%= f.association :category, collection: categories, label: 'Collection', placeholder: 'Téléphone', include_blank: false,
      input_html: { class: 'details-form-item static-form-item flex-row-start-center' } %>
  <%= f.button :submit, id: 'update-details-btn', class: 'red-btn-xl', value: button, data: { disable_with: false } %>
<% end %>
