<div class='yellow-banner'>
  <div class='dashboard-container banner-title'>
    <div class='w-100 flex-row-sb-end'>
      <h2>Mes recettes</h2>
      <div class='flex-column-sb-end mb-1'>
        <%= link_to new_meal_path do %>
          <div class='flex-row-start-center pointer white-font'>
            <i class="far fa-plus-square"></i>
            <p class='add-element-link'>Ajouter une nouvelle recette</p>
          </div>
        <% end %>
        <%= link_to new_cook_dashboard_category_path do %>
          <div class='flex-row-start-center pointer white-font mt-2'>
            <i class="far fa-plus-square"></i>
            <p class='add-element-link'>Ajouter une nouvelle catégorie</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='dashboard-container page-lifted'>

  <!-- CATEGORY CARD -->

  <% @categories.each do |category| %>

    <div class='dashboard-card mt-0'>

      <div class='meal-dashboard-card'>
        <div class='dashboard-card-header category-card flex-row-sb-center'>
          <h3 class='dashboard-card-title white-font'><%= category.name %></h3>
          <div class='white-font flex-row-sb-center'>
            <div class='display-card-body pointer'><i class="fas fa-pen"></i></div>
            <div class='hide-card-body pointer hidden'><i class="fas fa-chevron-up"></i></div>
          </div>
        </div>
        <div class='dashboard-card-body hidden basket-form <%= 'border-bottom' unless category.meals.empty? %>'>
          <div class=''>
            <%= simple_form_for category, url: cook_dashboard_category_path(category), method: 'PATCH' do |f| %>
              <%= f.error_notification %>
              <%= f.input :name, label: 'Nom de la catégorie', placeholder: 'ex : ...',
                  input_html: { class: 'details-form-item static-form-item flex-row-start-center' } %>
              <%= f.button :submit, id: 'update-details-btn', class: 'red-btn-xl', value: 'Enregistrer les modifications', data: { disable_with: false } %>
              <% if category.meals.empty? %>
                <%= link_to cook_dashboard_category_path(category), method: 'DELETE' do %>
                  <p class='orange-14 pointer underline mt-3'>Supprimer la catégorie</p>
                <% end %>
              <% else %>
                <p class='orange-14 mt-3'>Vous ne pouvez supprimer une catégorie seulement si elle est vide.</p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <!-- MEAL CARD -->

      <% category.meals.each do |meal| %>

        <div class='meal-dashboard-card'>
          <div class='meal-dashboard-card-header flex-row-sb-center <%= 'no-border-top' if meal.id == category.meals.first.id %>'>
            <h3 class=''><%= meal.name %></h3>
            <div class='display-card-body pointer'><i class="fas fa-chevron-down"></i></div>
            <div class='hide-card-body pointer hidden'><i class="fas fa-chevron-up"></i></div>
          </div>

          <div class='pt-0 dashboard-card-body basket-form hidden'>
            <%= render partial: 'shared/meal_form', locals: {meal: meal,
                                                             categories: @categories,
                                                             url: meal_path(meal),
                                                             method: 'PATCH',
                                                             button: 'Enregistrer les modifications'} %>
            <p class='orange-14 pointer underline mt-3'>Supprimer la recette</p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'ingredientsRanking', 'categoryIndex/index'%>
